{
  "extends": [
    "@antfu"
  ],
  "rules": {
    "space-before-function-paren": "off",
    "no-tabs": "off",
    "@typescript-eslint/indent": "off",
    "vue/html-indent": [
      "warn",
      "tab"
    ],
    "no-mixed-spaces-and-tabs": "off",
    "quote-props": "off",
    "yml/no-tab-indent": "off",
    "vue/singleline-html-element-content-newline": "off",
    "import/first": "warn",
    "quotes": "off",
    "no-trailing-spaces": "off",
    "comma-dangle": "off"
  }
}