---
// import 'swiper/css/bundle'
import DefaultLayout from '../layouts/default.astro'
---

<DefaultLayout title="Home">
<div class="debug debug-group">
	<div class="debug debug-left"></div>
	<div class="debug debug-right"></div>
	<div class="debug debug-up"></div>
	<div class="debug debug-down"></div>
</div>

<main id="fullpage">
	<section>
	<h1>
		Section 1
	</h1>
	</section>
	<section>
		Section 2
	</section>
	<section>
		Section 3
	</section>
</main>
</DefaultLayout>

<script type="module" src={Astro.resolve('../modules/fullpageScroll.js')}/>

<style lang="scss">
// #fullpage {
// 	@apply m-12 h-[70vh] overflow-y-scroll;
// }
section {
	@apply w-full h-screen flex justify-center items-center;

	&:nth-of-type(1) {
		@apply bg-gray-600;
	}
	&:nth-of-type(2) {
		@apply bg-gray-500 h-[150vh];
	}
	&:nth-of-type(3) {
		@apply bg-gray-400 h-[150vh];
	}
}

.debug {
	@apply fixed bg-red-500;
	transition-property: width, height;
	transition-duration: 200ms;

	&-group {
		--up: 0px;
		--down: 0px;
		--left: 0px;
		--right: 0px;
	}

	&-left {
		@apply right-0 top-[50vh] h-12;
		width: var(--left);
	}
	&-right {
		@apply left-0 top-[50vh] h-12;
		width: var(--right);
	}
	&-up {
		@apply bottom-0 left-[50vw] w-12;
		height: var(--up);
	}
	&-down {
		@apply top-0 left-[50vw] w-12;
		height: var(--down);
	}
}
</style>