---
export interface Props {
  title: string;
}
const {title} = Astro.props as Props;
---

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
	<title>{title}</title>
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
   <slot/>
</body>
</html>

<style lang="scss">
@import '../styles/global.scss';
</style>